<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
        <title><%= title %></title>
    </head>
    <body>
        <div id="messagesBox" class="chatBox">
        </div>
        <div class="chatActions">
            <form action="#" id="chatForm">
                <input type="text" id="inputMessage" placeholder="Available Commands: !gif <search_query> !online !boss !clear !chat <message>" autocomplete="off"/>
            </form>
            <div id="gifnailsBox">
            </div>
            <form action="#" id="codeForm" style="display: none;">
                <textarea id="codeInput" rows="5"></textarea><br/>
                <button id="codeSubmit" value="Send">Submit</button>
            </form>
        </div>
        <img src='/images/work.jpg' id="workImage"/>
    </body>

    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js"></script>
    <script>
        requirejs.config({
            baseUrl: 'javascript',

            shim: {
                'socketio': {exports: 'io'},
                'hover': {deps:['jquery']},
                'titlealert': ['jquery']
            },

            paths: {

                boss: 'chatsfow2/commands/boss',
                clear: 'chatsfow2/commands/clear',       
                code: 'chatsfow2/commands/code',
                gif: 'chatsfow2/commands/gif',
                online: 'chatsfow2/commands/online',

                commandfacade: 'chatsfow2/command-facade',       
                chat: 'chatsfow2/chat',

                moment: 'libraries/moment',
                jquery: '//code.jquery.com/jquery-1.10.2',
                socketio: '//cdn.socket.io/socket.io-1.0.6',
                hover: 'libraries/jquery.hoverIntent.minified',
                titlealert: 'libraries/jquery.titlealert.min'
            }
        });

        require(["chat", "commandfacade"], function(ChatCommand){
            ChatCommand.init('<%= serverAddress %>', <%= restrictedMode %>);            
        })
    </script>

</html>